<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Test - List Products</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="../static/bootstrap/bootstrap.min.css"
          th:href="@{bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>

    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>

    <script src="../static/js/index.js" th:src="@{js/index.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-white-color">
    <div class="container">
        <!--first row-->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Product</div>
                    <div class="panel-body">CRUD any Game, CD or book as induvidual product.</div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" th:href="@{/product/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" th:href="@{/product/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Developer</div>
                    <div class="panel-body">Self-explanatory subsets of products. <mark>You can qucikly create/attach many
                        products to one developer.</mark>
                    </div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" th:href="@{/developer/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" th:href="@{/developer/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    <span class="glyphicon glyphicon-info-sign"/>Essential daily tasks and core entities.
                </div>
            </div>
        </div>
        <!--second row-->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Bundle</div>
                    <div class="panel-body">Key subsets of products. Will be represented directly to the home page.
                    </div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" th:href="@{/bundle/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" th:href="@{/bundle/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Publisher</div>
                    <div class="panel-body">Self-explanatory subsets of products.</div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" th:href="@{/publisher/new}" target="_blank">ADD</a>
                        <a class="btn btn-primary pull-right" th:href="@{/publisher/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    <span class="glyphicon glyphicon-info-sign"/>Representing and grouping entities.
                </div>
            </div>
        </div>
        <!--third row-->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">User and Role</div>
                    <div class="panel-body">Authorization and Authentication</div>
                    <div class="panel-footer clearfix">
                        <a class="btn btn-success pull-left" th:href="@{/user/new}">ADD</a>
                        <a class="btn btn-primary pull-right" th:href="@{/user/list}">LIST ALL</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Helpers</div>
                    <div class="panel-body">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            <div th:unless="${initaited}">
                                <a class="btn btn-sm btn-danger" th:href="@{/generatedummydata?comeFrom=admin}">Dummy Data Generation</a>
                            </div>
                            <a class="btn btn-sm btn-info" th:href="@{workinprogress}" target="_blank">Find Un-assigned Dev/Pub
                                Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well well-sm">
                    <span class="glyphicon glyphicon-info-sign"/>Entities helpers and users management.
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>