<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Humble Bundle Bundle Page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>

    <link href="../static/bootstrap/bootstrap.min.css"
          th:href="@{/bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>

    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>

    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-white-color basic-padding">
    <div class="container" sec:authorize="isAuthenticated()" style="padding-top: 10vh; padding-bottom: 20vh">
        <h1>Checkout</h1>
        <h3 th:text="'Hello! Dear user: ' + ${user.userName}"></h3>
        <br/>
        <h3 th:text="'Your email: ' + ${user.email}"></h3>
        <hr/>
        <form th:object="${user}" th:action="@{/thankyou}" method="post">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <th colspan="3">Item</th>
                    <th>Total Price</th>
                </tr>
                <tr th:each="cartDetail : *{cart.cartDetails}">
                    <td colspan="3" th:text="${cartDetail.product.name}"> Product Name</td>
                    <td th:text="'$' + ${cartDetail.product.price}"> Price</td>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">VAT x0%</span></th>
                    <th>£x0.00</th>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">Total</span></th>
                    <th th:text="${totalPrice}"> Total Price</th>
                </tr>
                <tr>
                    <td><a th:href="@{/store}" class="pull-left btn btn-default"><span
                            class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping </a></td>
                    <td>
                        <button class="pull-right btn btn-primary" type="submit" name="payAsUser">
                            <span class="glyphicon glyphicon-credit-card"></span> Pay with Card
                        </button>
                    </td>
                    <td>
                        <button class="pull-right" type="submit" name="payAsUser">
                            <img src="http://www.hikashop.com/images/payment/paypalexpress.png" height="38px"
                                 width="150px"/>
                        </button>
                    </td>
                    <td>
                        <button class="pull-right" type="submit" name="payAsUser">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/Iris3_US/en_US/inca/images/btnPaywAMZN-gld-Desktop-2x.png"
                                 height="34px" width="150px"/>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="container" sec:authorize="isAnonymous()" style="padding-top: 10vh; padding-bottom: 25vh">
        <h1>Checkout as Guest</h1>
        <hr/>
        <form th:object="${user}" th:action="@{/thankyou}" method="post">
            <input type="text" th:field="*{email}"/>
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <th colspan="3">Item</th>
                    <th>Total Price</th>
                </tr>
                <tr th:each="cartDetail : *{cart.cartDetails}">
                    <td colspan="3" th:text="${cartDetail.product.name}"> Product Name</td>
                    <td th:text="'$' + ${cartDetail.product.price}"> Price</td>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">VAT x0%</span></th>
                    <th>£x0.00</th>
                </tr>
                <tr>
                    <th colspan="3"><span class="pull-right">Total</span></th>
                    <th th:text="${totalPrice}"> Total Price</th>
                </tr>
                <tr>
                    <td><a th:href="@{/store}" class="pull-left btn btn-default"><span
                            class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping </a></td>
                    <td>
                        <button class="pull-right btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-credit-card"></span> Pay with Card
                        </button>
                    </td>
                    <td>
                        <button class="pull-right" type="submit">
                            <img src="http://www.hikashop.com/images/payment/paypalexpress.png" height="38px"
                                 width="150px"/>
                        </button>
                    </td>
                    <td>
                        <button class="pull-right" type="submit">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/Iris3_US/en_US/inca/images/btnPaywAMZN-gld-Desktop-2x.png"
                                 height="34px" width="150px"/>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>