<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Humble Bundle Bundle Page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>

    <link
          th:href="@{/bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link
          th:href="@{/css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body class="bg-black">

<div th:replace="fragments/header :: header"></div>

<div th:if="${bundle}">
    <div class="jumbotron mainBody">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Pick Your Bundle!
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li th:each="bundleItem : ${bundleList}">
                                <a th:text="${bundleItem.name}" th:href="@{'/' + ${bundleItem.id}}"> Bundle Name </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <section class="col-md-offset-1 col-md-6">
                    <img src="https://humblebundle-a.akamaihd.net/misc/files/hashed/a7204f784bac1c366b4736a0e90c7f6dfa956d55.png"/>
                </section>
                <section class="col-md-offset-1 col-md-4">
                    <a id="index-page-scroll-down-button" class="btn btn-lg btn-success" style="margin-top: 40px"
                       href="#" role="button">Pay What You Want!</a>
                </section>
            </div>
            <div class="row" style="margin: 40px">
                <section class="col-md-offset-2 col-md-8">
                    <ul class="list-inline">
                        <li><h4 class="color-grey"><span class="glyphicon glyphicon-heart"></span><abbr
                                title="Get games collectively value up to $40."> $40 worth of awesome stuff</abbr></h4>
                        </li>
                        <li><h4 class="color-grey"><span class="glyphicon glyphicon-tag"></span><abbr
                                title="Name your price and increase your comtribution to upgrade your bundle."> Pay what
                            you want</abbr></h4></li>
                        <li><h4 class="color-grey"><span class="glyphicon glyphicon-wrench"></span><abbr
                                title="Pay $1 or more for access to content on Steam"> Redeem on steam</abbr></h4></li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="container" style="margin: 20px">
            <div class="row">
                <section class="col-md-offset-4 col-md-4">
                    <h2 class="text-capitalize lobster-font" th:text="${bundle.name}"></h2>
                </section>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="row">
                        <div class="col-md-3 col-sm-6" th:each="product,i : ${products}">
                            <div class="thumnail">
                                <a class="carousel-show-button" href="#" data-target="#videoCarousel"
                                   th:attr="data-slide-to=${i.index}">
                                    <img th:src="@{${product.imageUrl}}" height="140" width="120"/>
                                    <h6 class="color-white" th:text="${product.name}"></h6>
                                    <h4 class="color-grey"><span class="glyphicon glyphicon-wrench"></span></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="videoCarousel-wrapper" style="margin: 60px 0;">
            <div id="videoCarousel" class="collapse carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#videoCarousel" th:each="product,i : ${products}"
                        th:attr="data-slide-to=${i.index}"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item" th:each="product : ${products}">
                        <br/>
                        <iframe width="430" height="350" th:src="@{${product.youtubeUrl}}" frameborder="0"/>
                        <h4 class="color-grey" th:text="${product.name}"></h4>
                        <p th:text="${product.description}"></p>
                        <br/>
                        <a class="carousel-hide-button" href="#"><span
                                class="glyphicon glyphicon-remove close-button"></span></a>
                    </div>
                </div>

                <a class="left carousel-control" href="#videoCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#videoCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>

        <div class="container subscribt">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-6">
                        <h4 class="color-grey">Get notified of upcoming promotions:</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email..."/>
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Subscribt</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white-color">
        <div class="container-fluid">
            <div class="row bundle-description">
                <div class="col-md-6 col-md-offset-3">
                    <h3 th:text="${bundle.name}"></h3>
                    <p>Humble and 2K, take two. 2K Games is back at Humble Bundle with another bundle of killer games.
                        Born for battle? You won’t need to save your shards to activate these deals! <a
                                class="btn btn-default pull-right" data-toggle="collapse"
                                data-target="#bundle-description-test">More</a></p>
                    <div id="bundle-description-test" class="collapse">
                        <div th:if="${bundle.description} == null">
                            <p>Pay $1 or more for The Darkness II, Spec Ops: The Line, and Duke Nukem Forever. Plus, get
                                a coupon for 10% off Humble Monthly for new subscribers.</p>
                            <p>Pay more than the average price and you’ll also receive Sid Meier's Civilization V, NBA
                                2K16, Mafia II Director's Cut, the Battleborn Starter Skin Pack, Freedom Force, Freedom
                                Force vs. The Third Reich, The Bureau: XCOM Declassified, and Railroad Tycoon 3. Plus,
                                get a Humble Store Coupon for 40% off XCOM 2.</p>
                            <p>Pay $15 or more for all of that AND Battleborn, Battleborn Platinum Currency, and
                                Borderlands: The Pre-Sequel!</p>
                            <p>Pay $1 or more. Normally, the total cost for these games is as much as $360. Here at
                                Humble Bundle, though, you choose the price of $1 or more!</p>
                            <p>Redeem on Steam. All of the games in this bundle are available on Steam for Windows, and
                                some for Mac and Linux too. Please check out the full system requirements here prior to
                                purchasing.</p>
                        </div>
                        <div th:if="${bundle.description} != null">
                            <p th:text="${bundle.description}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="col-md-6 col-md-offset-3">

                <div class="first-row header-bg-color bordered">
                    <p th:text="'Purchase the '+ ${bundle.name}"></p>
                </div>

                <div class="second-row bordered">
                    <h3>Pay What You Want! </h3>
                    <form th:object="${bundle}" th:action="@{../thankyou}" method="post">
                        <input type="hidden" th:field="*{id}" th:value="${bundle.id}"/>
                        <button class="btn btn-info pull-right" type="submit" name="bundleCheckout">
                            <span class=""></span> Quick Play
                        </button>
                    </form>
                    <form id="index-page-paypal-button" class="pull-right"
                          action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick"/>
                        <input type="hidden" name="hosted_button_id" value="EYRZMP2TUXZ6Q"/>
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                               border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                             height="1"/>
                    </form>
                </div>

                <div class="third-row bordered header-bg-color">
                    <p>You're getting this bundle for <strong>smon_lucia@Hotmail.com</strong>. Not you? <a th:href="@{/logout}">Log
                        out</a></p>
                </div>

                <div class="forth-row bordered header-bg-color">
                    <div class="checkbox">
                        <label><input type="checkbox" value=""/>This bundle is a gift; send me a gift link.</label>
                    </div>
                </div>

                <div class="fifth-row">
                    <p>
                        <small>All major credit cards accepted. Payments via bank account are also supported by PayPal
                            and Amazon
                            Payments. Bitcoin payments have been disabled for the Humble 2K Bundle 2. Payment processing
                            fees
                            will be deducted proportionally from the payment amounts you indicate on your slider(s).
                            Fees
                            typically average 5 to 6% across all transactions, but may vary depending on a number of
                            factors,
                            including your location, purchase price, and payment method. We deduct VAT, where
                            applicable, in the
                            same manner. Payments to charitable organizations are made via the PayPal Giving Fund. For
                            details
                            on how this works, <a th:href="@{workinprogress}"> click here.</a></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:unless="${bundle}" class="bg-white-color basic-padding">
    <div class="container empty-page-spacer">
        <h1> Database is not ready. </h1>
        <a class="btn btn-primary" th:href="@{store}"> Store </a>
    </div>
    <div th:unless="${initaited}">
        <div class="row empty-page-spacer">
            <a class="btn btn-sm btn-danger" th:href="@{/generatedummydata?comeFrom=store}">Dummy Data Generation</a>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

<style th:inline="text" th:if="${bundle}">
    .mainBody{
    background: url([[${bundle.imageUrl}]])
    no-repeat center top fixed;
    }
</style>