<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link th:href="@{/css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-white-color basic-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Login</h2>
                <div>
                    <form class="form-horizontal" th:object="${loginForm}" th:action="@{/login}" method="post">

                        <div th:if="${param.error}" class="alert alert-danger">
                            <p>Invalid username and password.</p>
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            <p>You've been logged out.</p>
                        </div>

                        <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                            <label class="col-sm-2 control-label">Username:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" id="username"/>
                            </div>
                        </div>

                        <div class="form-group" th:class="${param.error} ? 'form-group has-error' : 'form-group'">
                            <label class="col-sm-2 control-label">Password:</label>
                            <div class="col-sm-10">
                                <input type="password"  class="form-control" name="password" id="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me"/> Remember Me <br/>
                        </div>

                        <button type="submit" class="btn btn-default pull-left">Submit</button>
                        <a class="btn btn-primary pull-right" th:href="@{/customer/new}"> Sign Up ! </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="row basic-padding">
            <div class="col-md-6 col-md-offset-3">
                <hr/>
                <h3> Tips </h3>
                <h1> </h1>
                <div class="jumbotron">
                    <h4> Login as a showcase Admin account. </h4>
                    <h5><strong>Username:</strong> admin </h5>
                    <h5><strong>Password:</strong> password </h5>
                </div>
                <div class="jumbotron">
                    <h4> Create your own, or login as a showcase Customer account. </h4>
                    <h5><strong>Username:</strong> customer1 </h5>
                    <h5><strong>Password:</strong> 123 </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>