<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Humble Bundle Bundle Page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href="../static/bootstrap/bootstrap.min.css"
          th:href="@{/bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>

    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>

    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-white-color relative">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <div th:unless="${initaited}">
                <div class="row empty-page-spacer">
                    <a class="btn btn-sm btn-danger" th:href="@{/generatedummydata?comeFrom=store}">Dummy Data Generation</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://humblebundle-a.akamaihd.net/misc/files/hashed/1931cbbd2fa950d8ab7b098c1d3b92f8db7acd29.png" />
                    <h5><strong>$4,769,000</strong> contributed to charity</h5>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6 product-container-outer" th:each="product : ${products}">
                    <div class="product-container-padding">
                        <div class="header-bg-color product-container-inner" style="height: 140px">
                            <img class="pull-left" th:src="@{${product.imageUrl}}" height="140" width="120"/>
                            <h3 th:text="${product.name}"></h3>
                            <h4 th:text="${product.description}"></h4>
                            <div class="move-to-bottom-right">
                                <form th:action="@{/store}" method="post">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a th:href="@{thankyou}" class="btn btn-danger btn-sm"
                                           th:text="${product.price} + ' BUY NOW'"></a>
                                        <button class="btn btn-default btn-sm" type="submit" name="addToCart"
                                                th:value="${product.id}">Add To Cart
                                        </button>
                                        <a th:href="@{workinprogress}" class="btn btn-warning btn-sm">Wish List</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-right-cart btn-group-vertical">
        <a class="btn btn-default" th:text="'Added To Cart: ' + ${cart.cartDetails.size()}"></a>
        <a class="btn btn-success" th:href="@{/cart}">Check Out</a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>