<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied Page</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>

    <link href="../static/bootstrap/bootstrap.min.css"
          th:href="@{bootstrap/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"
          rel="stylesheet" media="screen" />

    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>

    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="bg-white-color basic-padding">
    <div class="container empty-page-spacer">
        <h1>
            Sorry, this page/function is still in progress or not to be implemented.
        </h1>
        <h2><a th:href="@{/store}"> Back to Bundle Store </a></h2>
        <h2><a th:href="@{/index}"> Back to Humble Bundle </a></h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>